@import "./__base";
@import "./__layout";
@import "./__components";

.video-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.video-item {
    &__button {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 10px;
        margin-right: 25px;
        cursor: pointer;
        img {
            height: 120px;
            width: 60%;
            margin: 3px;
            margin-right: 5px;
            border-radius: 5px;
        }
        border-bottom: 0.5px solid rgb(179, 175, 175);
    }
    &__button:focus {
        outline: none;
    }
}

.video-detail {
    margin: 10px;
    iframe {
        width: 640px;
        height: 360px;
        margin-bottom: 5px;
    }
}
////////components///////
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

//searchbox
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    &__input {
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 500px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.0rem;

        &:focus {
            outline: none;
            background-color: var(--color-grey-light-3);
            width: 100%;
        }
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__button:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border:none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        filter: invert(48%) sepia(13%) saturate(20%) hue-rotate(120deg) brightness(90%) contrast(50%);
    }
}

// user navigation
.user-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }
    &__user-name {
        margin-right: 5px;
        color: white;

    }
}



@media only screen and (max-width: 768px) {
    .main-view {
        display: block;
        width: 180px;
    }

    .video-item {
        width: 380px;
    }
    .video-detail {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 380px;
        height: 211px;
        iframe {
            width: 380px;
        }
    }
    .side-bar {
        display: none;
    }


  }